.container {
  display: grid;
  grid-template-columns: [full-start]5rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr  5rem[full-end];
  background-color: #fff;
  position: relative;

}

.header {
    background-color: #fff;
    grid-column: full-start / full-end;
}

.hero-video {
  grid-column: col-start 1 / col-end;
  width: 100%;
  padding: 2rem;
  background-color: red;

}

