.modal {

  .content {
    background-color: red;
  }

  &__overlay {
    background-color: rgba(0,0,0, .9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__content {
    width: 50rem;
    border-radius: .5rem;
    z-index: 3;
    background-color: #fff;
    padding: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
